.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: var(--transparent);
  outline: none;
  padding: 0;
  margin: 0;
  color: var(--gray-a100);
  fill: currentColor;
  position: relative;
  text-decoration: none;
  font-weight: 400;

  &__text {
    font-size: var(--size-24);
    margin: 0;
  }

  &.is-separator-enabled {
    & {
      flex-direction: column;
    }

    .button__separator {
      display: flex;
      width: 100%;
      align-items: center;
      visibility: hidden;
    }

    .button__text + .button__separator {
      margin-top: var(--size-4);
    }
  }

  &.is-rotated {
    rotate: 180deg;
  }

  &--size {
    &--100-squared {
      width: var(--size-100);
      height: var(--size-100);
    }

    &--100-circled {
      width: var(--size-100);
      height: var(--size-100);
      border-radius: var(--half);
    }

    &--82-squared {
      width: var(--size-82);
      height: var(--size-82);
      border-radius: var(--radius-24);
    }

    &--92-stretched {
      height: var(--size-92);
      width: var(--parent);
    }

    &--48-stretched {
      height: var(--size-48);
      width: var(--size-264);
    }

    &--48-hug {
      height: var(--size-48);
      width: fit-content;
    }

    &--42-stretched {
      height: var(--size-42);
      width: var(--size-parent);
    }

    &--40-circled {
      height: var(--size-40);
      width: var(--size-40);
      border-radius: var(--half);
    }

    &--60-stretched {
      height: var(--size-60);
      width: var(--size-240);
      border-radius: var(--radius-18);
    }

    &--116-stretched {
      height: var(--size-116);
      width: var(--size-640);
    }

    &--264-stretched {
      height: var(--size-264);
      width: var(--size-600);
    }
  }

  &--theme {
    &--red-300 {
      background-color: var(--red-300);
      color: var(--gray-a100);
      font-size: var(--size-20);

      @media (hover: hover) {
        &:hover {
          background-color: var(--red-200);
        }
      }

      &:active,
      &.is-active {
        background-color: var(--yellow-400);
        box-shadow: 0 0 8px 0 var(--yellow-300);
      }
    }

    &--gray-200-bordered {
      background-color: var(--transparent);
      color: var(--gray-200);
      border: 1px solid var(--transparent);

      @media (hover: hover) {
        &:hover {
          border-color: var(--gray-200);
          outline: solid var(--gray-200);
          outline-offset: 3px;
          outline-width: 1px;
        }
      }

      &:active,
      &.is-active {
        color: var(--gray-300);
        fill: currentColor;
        border-color: var(--gray-300);
        outline: solid var(--gray-300);
        outline-offset: 3px;
        outline-width: 1px;
      }
    }

    &--gray-300 {
      background-color: var(--gray-300);
      color: var(--red-300);

      @media (hover: hover) {
        &:hover {
          background-color: var(--red-300);
          color: var(--gray-300);
        }
      }

      &:active,
      &.is-active {
        background-color: var(--transparent);
        box-shadow: inset 0 0 0 1px var(--gray-300);
      }
    }

    &--gray-400 {
      background-color: var(--gray-400);
      color: var(--gray-a100);
      font-size: var(--size-20);

      @media (hover: hover) {
        &:hover {
          background-color: var(--yellow-200);
        }
      }

      &:active,
      &.is-active {
        background-color: var(--yellow-400);
        box-shadow: 0 0 8px 0 var(--yellow-300);
      }
    }

    &--gray-600 {
      background-color: var(--gray-600-50);
      color: var(--gray-200);

      @media (hover: hover) {
        &:hover {
          background-color: var(--gray-200);
          color: var(--red-300);
        }
      }

      &:active,
      &.is-active {
        background-color: var(--gray-700);
        box-shadow: 0 0 0 1px var(--gray-200);
        color: var(--red-300);
      }
    }

    &--transparent-filled {
      background-color: var(--transparent);
      color: var(--gray-200);

      @media (hover: hover) {
        &:hover {
          background-color: var(--transparent);
          color: var(--red-300);
          box-shadow: inset 0 0 0 1px var(--gray-200);
        }
      }

      &:active,
      &.is-active {
        background-color: var(--gray-200);
        color: var(--red-300);
      }
    }

    &--transparent-bordered {
      background-color: var(--transparent);
      color: var(--gray-200);

      .button__text {
        font-size: var(--size-48);
        font-weight: 500;
      }

      @media (hover: hover) {
        &:hover {
          color: var(--gray-200);
          box-shadow: inset 0 0 0 1px var(--gray-200);
          outline: 1px solid var(--gray-200);
          outline-offset: 3px;
        }
      }

      &:active,
      &.is-active {
        color: var(--gray-300);
        box-shadow: inset 0 0 0 1px var(--gray-300);
        outline: 1px solid var(--gray-300);
        outline-offset: 3px;
      }
    }

    &--transparent {
      background-color: var(--transparent);
      color: var(--gray-200);

      @media (hover: hover) {
        &:hover {
          color: var(--red-300);
        }
      }

      &:active,
      &.is-active {
        color: var(--gray-300);
      }
    }

    &--transparent-underlined {
      color: var(--gray-100);
      width: fit-content;

      @media (hover: hover) {
        &:hover {
          .button__separator {
            visibility: visible;
          }
        }
      }

      &:active,
      &.is-active {
        color: var(--yellow-400);

        .button__separator {
          visibility: visible;
        }
      }
    }

    &--yellow-400 {
      background-color: var(--transparent);
      color: var(--yellow-400);
      justify-content: start;
      gap: var(--size-20);
      font-size: var(--size-24);

      @media (hover: hover) {
        &:hover {
          color: var(--gray-200);
        }
      }

      &:active,
      &.is-active {
        color: var(--gray-300);
      }

      &.is-modified {
        .button__text {
          font-size: var(--size-36);
          text-transform: uppercase;
        }
      }
    }

    &--yellow-400-underlined {
      background-color: var(--transparent);
      color: var(--yellow-400);

      @media (hover: hover) {
        &:hover {
          color: var(--yellow-400);
        }
      }

      &:active,
      &.is-active {
        color: var(--gray-300);
      }
    }

    &--yellow-600-gradient {
      color: var(--gray-100);
      font-size: 40px;
      background-image: linear-gradient(
        0.25turn,
        var(--yellow-600) 0%,
        var(--yellow-600) 40%,
        var(--yellow-600-50) 70%,
        var(--yellow-600-0) 100%
      );

      @media (hover: hover) {
        &:hover {
          background-image: none;
          background-color: var(--yellow-500);
          box-shadow:
            0 0 0 1px var(--yellow-400),
            0 0 0 3px var(--gray-1000),
            0 0 0 4px var(--yellow-400);
        }
      }

      &:active,
      &.is-active {
        background-image: none;
        background-color: var(--yellow-400);
        box-shadow:
          0 0 0 1px var(--yellow-400),
          0 0 0 3px var(--gray-1000),
          0 0 0 4px var(--yellow-400);
      }
    }
  }

  &--direction {
    &--column {
      flex-direction: column;
    }
  }

  &--gap {
    &--20 {
      gap: var(--size-20);
    }
  }

  &--align {
    &--start {
      align-items: flex-start;
    }
  }
}
