.navigation {
  margin-left: var(--size-154);

  &[data-placement='lists'] {
    margin-left: var(--size-128);
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin: var(--size-0);
    padding: var(--size-0);
    gap: var(--size-80);
    list-style: none;

    &[data-placement='lists'] {
      gap: var(--size-40);
    }
  }

  &__item {
    display: flex;
  }

  &__title {
    color: var(--gray-a100);
    font-size: var(--size-64);
    font-weight: 500;
    margin-bottom: var(--size-120);
  }

  &__title + &__list {
    margin-top: var(--size-120);
  }
}
