.sidebar {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  // height: var(--parent);
  width: var(--size-482);
  background-color: var(--gray-600);
  margin-left: 76px;
  padding: var(--size-20) var(--size-32);
  gap: var(--size-100);
  box-sizing: border-box;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: var(--size-100);
  }

  &__user {
    display: flex;
    gap: var(--size-16);
  }

  &__user-name {
    font-size: var(--size-24);
    color: var(--white);
    text-transform: uppercase;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: var(--size-80);
  }

  &__cell {
    display: flex;
    flex-direction: column;
    gap: var(--size-20);
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: var(--size-12);
    margin: var(--size-0);
    padding: var(--size-0);
  }
}
