.white-wolf-tasks {
  display: flex;
  position: relative;
  background-image: url(../../images/white-wolf-bg-1x.png);
  background-color: var(--gray-500);
  background-size: cover;
  height: 100vh;

  @media (min-resolution: var(--retina-dppx)),
    (min-resolution: var(--retina-dpi)) {
    background-image: url(../../images/white-wolf-bg-2x.png);
  }
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: var(--parent);
  // min-height: var(--size-1080);
}

.content {
  display: flex;
  // align-items: center;
  // justify-content: center;
  height: var(--parent);

  // &.is-full-page {
  //   margin-left: unset;
  // }
}

.first-step {
}
