.white-wolf-tasks {
  display: flex;
  position: relative;
  background-image: url(../../images/white-wolf-bg-1x.png);
  background-color: var(--gray-500);
  background-size: cover;
  // height: 100vh;

  @media (min-resolution: var(--retina-dppx)),
    (min-resolution: var(--retina-dpi)) {
    background-image: url(../../images/white-wolf-bg-2x.png);
  }
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: var(--size-1080);
}

.content {
  display: flex;
  margin-left: var(--size-128);

  &.is-full-page {
    margin-left: var(--size-32);
    margin-right: var(--size-140);
  }

  &.has-float-element {
    margin-right: var(--size-140);
  }
}
