@use 'sass:color';
@use 'sass:list';

:root {
  --transparent: transparent;
  --white: #fff;
  --black: #000;

  --gray-a100: #EDF5F5;

  --gray-100: #D9D9D9;
  --gray-200: #B2BFCF;
  --gray-300: #8D8883;
  --gray-400: #544B32;
  --gray-500: #42505B;
  --gray-600: #00080A;
  --gray-600-50: #00080A80;
  --gray-700: #1F2223;
  --gray-800: #362F1F;
  --gray-900: #020607;
  --gray-1000: #1E1B12;
  --gray-1000-50: #1E1B1280;
  --gray-1000-0: #1E1B1200;


  --yellow-100: #F3EDE7;
  --yellow-200: #8D7F57;
  --yellow-300: #ECC59C;
  --yellow-400: #986A3A;
  --yellow-500: #625739;
  --yellow-600: #363020;
  --yellow-600-50: #36302080;
  --yellow-600-0: #36302000;

  --red-100: #DE1D28;
  --red-200: #B9000B;
  --red-300: #800007;
}
