@use 'sass:color';
@use 'sass:list';

:root {
  --transparent: transparent;
  --white: #fff;
  --black: #000;

  --gray-a100: #edf5f5;

  --gray-100: #d9d9d9;
  --gray-200: #b2bfcf;
  --gray-300: #8d8883;
  --gray-400: #544b32;
  --gray-500: #42505b;
  --gray-600: #00080a;
  --gray-600-50: #00080a80;
  --gray-700: #1f2223;
  --gray-800: #362f1f;
  --gray-900: #020607;
  --gray-1000: #1e1b12;
  --gray-1000-50: #1e1b1280;
  --gray-1000-0: #1e1b1200;
  --gray-1100: #3e3b3b;

  --yellow-100: #f3ede7;
  --yellow-200: #8d7f57;
  --yellow-300: #ecc59c;
  --yellow-400: #986a3a;
  --yellow-500: #625739;
  --yellow-600: #363020;
  --yellow-600-50: #36302080;
  --yellow-600-0: #36302000;

  --red-100: #de1d28;
  --red-200: #b9000b;
  --red-300: #800007;
}
